<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>J2EE Basics</display-name>
  
  <!-- The index file to show when loading the URL, we can also use a .jsp file -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- Creating a Servlet connection to the Java FirstServlet class -->
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<servlet-class>com.shadowsych.FirstServlet</servlet-class>
  </servlet>
  
  <!-- Mapping the FirstServlet class to the /processFirstServlet Route -->
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/processFirstServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<servlet-class>com.shadowsych.LifeCycleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LifeCycleServlet</servlet-name>
  	<url-pattern>/processLifeCycleServlet</url-pattern>
  </servlet-mapping>
  
</web-app>